body 


{
	font font-family: "Raleway", sans-serif;
	width: 60%;
	margin: 30px auto; 

}



.logo {  width: 30%;  
			margin:  0 auto;
			display: block;

}


.topper {


}




.topper .kitchen-intro


.topper h2,
.topper .event-house-desc  { 
color: ;
text-align: center; }

.topper h2,
	{border top: 2px ;
	 border-bottom: 2px ;





	}
	

h3

{
	text-transform: uppercase;
	color: ;

}


.special
{
	background-color: ;
	border:  2px ;
	padding: 0 12px;
}

.price 
{
	font-family: italic;

}

.footer img {

	float:  right;
}



